/*Global styling for basi components */

*{
    font-family: monospace;
    color: white;
    background-color: black;
}
body {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
p {
    line-height: 1.6;
}
ul, ol {
    padding-left: 20px;
}
img {
    max-width: 100%;
    height: auto;
}
button {
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    cursor: pointer;
}
button:hover {
    background-color: white;
    color: black;
} 
input, textarea {
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 5px;
}
input::placeholder, textarea::placeholder {
    color: gray;
}


/*Header styling*/

.header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
    margin: 10px;
}
.header-container{
    border: 1px solid white;
    padding: 5px;

}
.menu-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    width: 50%;
}
.menu-container a{
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
}

/*LOGO styling*/
.logo-container{
    margin: 10px;
    width: 50%;
}
.logo{
    font-size: 2rem;
    font-family: monospace;
    font-weight: bold;
    text-shadow: 0px 0px 4px white;
    letter-spacing: 2px;   

}


/*About section styling*/
.content-container{
    display: flex;
    flex-direction: row;
    margin: 50px;
    gap: 30px;
    padding: 10px;
    width: 100%;
}

.text-container{
    border: 2px solid white;
    padding: 20px;
    width: 50%;
}

/*PROFILE STYLING*/
.image-container{
    border: solid white 2px;
    padding: 40px;
    width: 30%;
}

/*SKILSS STYLING*/
.skills-container{
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 30px;
    align-items: center;
    width: 100%;
}
.skill-card{
    border: solid white 2px;
    padding: 40px;
    width: 50%;
    margin: 20px;
}

/*Poject section styling*/

.project-header{
    text-align: center;
    margin: 30px;
    padding: 30px;
}
.project-header h2{
    font-weight: bold;
    font-size: 3rem;
    text-shadow: 0px 0px 6px white;
}
.tagline{
    font-size: 1.5rem;
}
.projects-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.project-card{
    border: solid 2px white;
    padding: 30px;
    width: 20%;
    text-align: center;
}

.project-image{
    width: 40%;
    padding: 30px;
    text-align: center;
}

.project-name{
    font-weight: bold;
    font-size: 2rem;
    margin: 10px;
    text-shadow: 0px 0px 2px white;
    letter-spacing: 2px;
    text-align: center;
}

.project-text{
    text-align: center;
}

/*Hobbies styling*/
.hobbies-header{
    text-align: center;
    text-shadow: 0px 0px 4px white;
    margin: 30px;
    padding: 20px;
    font-size: 1.5em;
}
.hobbies-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.hobbies-card{
    border: 2px solid white;
    margin: 20px;
    padding: 30px;
    width: 20%;
    text-align: center;
   
}